body {
    margin: 0em;
}

.cover {
    height:400px;
    color:white;
    background-size:cover;
    background-position:center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:darken;
    width:100%;
}

.icon{
    font-size:50px;
}

.div-carousel{
    height:170px;
    width:450px;
    color:#45433F;
    background-color:rgba(169,169,169,0.5);
    background-blend-mode:darken;
}

.boton-carousel{
    background-color:rgba(169,169,169,0.5);
    background-blend-mode:darken;
    height:460px;
    width:50px;
}

.btn-footer{
    background-color: #2E2E2E;
    border: #2E2E2E;
}

.btn-footer:hover{
    background-color: #3d3d3d;
    border: #464343;
}

.footer{
    background-color: #1E1E1E;
}

.sub-footer{
    background-color: rgba(0, 0, 0, 0.2);
    color:#666;
}

.marb-0{
    margin-bottom: 0;
}

.footer-link{
    text-decoration: none;
}

.tarjeta:hover{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.tab-curso{
    margin-bottom:35px;
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 25px;
}
.tab-tarjeta{
    margin-right: 50px;
}

.contact_info_item
{
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
	margin-bottom: 22px;
}
.contact_info_item:last-child
{
	margin-bottom: 0px;
}
.contact_info_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
.mapa{
    margin-top: 20px;
}

.mapa iframe{
    width: 100%;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
    border:10px solid #212529;
}

.rectangle{
    height: 350px;
    border:2px solid #212529;
    border-radius: 20px;
}
